/obj

/VSProject/MoConvert/Debug/Assimp32.dll
/VSProject/MoConvert/Debug/Assimp64.dll
/VSProject/MoConvert/Debug/MoConvert.exe
/VSProject/MoConvert/Debug/MoConvert.exe.metagen
/VSProject/MoConvert/Debug/MoConvert.pdb
/VSProject/MoConvert/Debug/TestObject.mtl
/VSProject/MoConvert/Debug/TestObject.obj
/VSProject/MoConvert/Debug/TestTexture.png
/VSProject/MoConvert/Debug/Thumbs.db
/VSProject/MoConvert/Debug/dragon.mom
/VSProject/MoConvert/Debug/dragon.mtl
/VSProject/MoConvert/Debug/dragon.obj
/VSProject/MoConvert/Debug/test.bat
/VSProject/MoConvert/Debug/testo.mom
/VSProject/MoConvert/MoConvert.sdf
/VSProject/MoConvert/MoConvert.sln
/VSProject/MoConvert/MoConvert.v12.suo
/VSProject/MoConvert/MoConvert.zip
/VSProject/MoConvert/MoConvert/AssemblyInfo.cpp
/VSProject/MoConvert/MoConvert/Debug/.NETFramework,Version=v4.5.AssemblyAttributes.obj
/VSProject/MoConvert/MoConvert/Debug/AssemblyInfo.obj
/VSProject/MoConvert/MoConvert/Debug/MoConvert.Build.CppClean.log
/VSProject/MoConvert/MoConvert/Debug/MoConvert.log
/VSProject/MoConvert/MoConvert/Debug/MoConvert.obj
/VSProject/MoConvert/MoConvert/Debug/MoConvert.pch
/VSProject/MoConvert/MoConvert/Debug/MoConvert.tlog/CL.read.1.tlog
/VSProject/MoConvert/MoConvert/Debug/MoConvert.tlog/CL.write.1.tlog
/VSProject/MoConvert/MoConvert/Debug/MoConvert.tlog/MoConvert.lastbuildstate
/VSProject/MoConvert/MoConvert/Debug/MoConvert.tlog/RSAENH.DLL.bi
/VSProject/MoConvert/MoConvert/Debug/MoConvert.tlog/TZRES.DLL.bi
/VSProject/MoConvert/MoConvert/Debug/MoConvert.tlog/cl.command.1.tlog
/VSProject/MoConvert/MoConvert/Debug/MoConvert.tlog/link.command.1.tlog
/VSProject/MoConvert/MoConvert/Debug/MoConvert.tlog/link.read.1.tlog
/VSProject/MoConvert/MoConvert/Debug/MoConvert.tlog/link.write.1.tlog
/VSProject/MoConvert/MoConvert/Debug/MoConvert.tlog/metagen.read.1.tlog
/VSProject/MoConvert/MoConvert/Debug/MoConvert.tlog/metagen.write.1.tlog
/VSProject/MoConvert/MoConvert/Debug/MoConvert.tlog/rc.command.1.tlog
/VSProject/MoConvert/MoConvert/Debug/MoConvert.tlog/rc.read.1.tlog
/VSProject/MoConvert/MoConvert/Debug/MoConvert.tlog/rc.write.1.tlog
/VSProject/MoConvert/MoConvert/Debug/MoConvert.vcxprojResolveAssemblyReference.cache
/VSProject/MoConvert/MoConvert/Debug/app.res
/VSProject/MoConvert/MoConvert/Debug/stdafx.obj
/VSProject/MoConvert/MoConvert/Debug/vc120.pdb
/VSProject/MoConvert/MoConvert/MoConvert.cpp
/VSProject/MoConvert/MoConvert/MoConvert.vcxproj
/VSProject/MoConvert/MoConvert/MoConvert.vcxproj.filters
/VSProject/MoConvert/MoConvert/MoConvert.vcxproj.user
/VSProject/MoConvert/MoConvert/ReadMe.txt
/VSProject/MoConvert/MoConvert/Release/.NETFramework,Version=v4.5.AssemblyAttributes.obj
/VSProject/MoConvert/MoConvert/Release/AssemblyInfo.obj
/VSProject/MoConvert/MoConvert/Release/MoConvert.log
/VSProject/MoConvert/MoConvert/Release/MoConvert.obj
/VSProject/MoConvert/MoConvert/Release/MoConvert.pch
/VSProject/MoConvert/MoConvert/Release/MoConvert.tlog/CL.read.1.tlog
/VSProject/MoConvert/MoConvert/Release/MoConvert.tlog/CL.write.1.tlog
/VSProject/MoConvert/MoConvert/Release/MoConvert.tlog/MoConvert.lastbuildstate
/VSProject/MoConvert/MoConvert/Release/MoConvert.tlog/RSAENH.DLL.bi
/VSProject/MoConvert/MoConvert/Release/MoConvert.tlog/TZRES.DLL.bi
/VSProject/MoConvert/MoConvert/Release/MoConvert.tlog/cl.command.1.tlog
/VSProject/MoConvert/MoConvert/Release/MoConvert.tlog/link.command.1.tlog
/VSProject/MoConvert/MoConvert/Release/MoConvert.tlog/link.read.1.tlog
/VSProject/MoConvert/MoConvert/Release/MoConvert.tlog/link.write.1.tlog
/VSProject/MoConvert/MoConvert/Release/MoConvert.tlog/metagen.read.1.tlog
/VSProject/MoConvert/MoConvert/Release/MoConvert.tlog/metagen.write.1.tlog
/VSProject/MoConvert/MoConvert/Release/MoConvert.tlog/rc.command.1.tlog
/VSProject/MoConvert/MoConvert/Release/MoConvert.tlog/rc.read.1.tlog
/VSProject/MoConvert/MoConvert/Release/MoConvert.tlog/rc.write.1.tlog
/VSProject/MoConvert/MoConvert/Release/MoConvert.vcxprojResolveAssemblyReference.cache
/VSProject/MoConvert/MoConvert/Release/app.res
/VSProject/MoConvert/MoConvert/Release/stdafx.obj
/VSProject/MoConvert/MoConvert/Release/vc120.pdb
/VSProject/MoConvert/MoConvert/app.ico
/VSProject/MoConvert/MoConvert/app.rc
/VSProject/MoConvert/MoConvert/dragon.mom
/VSProject/MoConvert/MoConvert/resource.h
/VSProject/MoConvert/MoConvert/stdafx.cpp
/VSProject/MoConvert/MoConvert/stdafx.h
/VSProject/MoConvert/Release/Assimp32.dll
/VSProject/MoConvert/Release/Assimp64.dll
/VSProject/MoConvert/Release/ImportTest/Meshes/SkyMap.mom
/VSProject/MoConvert/Release/ImportTest/Meshes/SkyMap.momesh
/VSProject/MoConvert/Release/ImportTest/Meshes/SkyMap.mtl
/VSProject/MoConvert/Release/ImportTest/Meshes/SkyMap.obj
/VSProject/MoConvert/Release/ImportTest/Meshes/SkyMap.png
/VSProject/MoConvert/Release/ImportTest/Meshes/Thumbs.db
/VSProject/MoConvert/Release/ImportTest/Meshes/default.png
/VSProject/MoConvert/Release/ImportTest/Meshes/dragon.mom
/VSProject/MoConvert/Release/ImportTest/Meshes/dragon.momesh
/VSProject/MoConvert/Release/ImportTest/Meshes/dragon.mtl
/VSProject/MoConvert/Release/ImportTest/Meshes/dragon.obj
/VSProject/MoConvert/Release/ImportTest/Meshes/dragon_m.momesh
/VSProject/MoConvert/Release/ImportTest/Meshes/mitsuba.momesh
/VSProject/MoConvert/Release/ImportTest/Meshes/mitsuba.mtl
/VSProject/MoConvert/Release/ImportTest/Meshes/mitsuba.obj
/VSProject/MoConvert/Release/ImportTest/Meshes/sponza.mom
/VSProject/MoConvert/Release/ImportTest/Meshes/sponza.mtl
/VSProject/MoConvert/Release/ImportTest/Meshes/sponza.obj
/VSProject/MoConvert/Release/ImportTest/Shaders/fragment_shader.txt
/VSProject/MoConvert/Release/ImportTest/Shaders/shader.moshader
/VSProject/MoConvert/Release/ImportTest/Shaders/sky_fragment_shader.txt
/VSProject/MoConvert/Release/ImportTest/Shaders/sky_shader.moshader
/VSProject/MoConvert/Release/ImportTest/Shaders/sky_vertex_shader.txt
/VSProject/MoConvert/Release/ImportTest/Shaders/vertex_shader.txt
/VSProject/MoConvert/Release/ImportTest/test.bat
/VSProject/MoConvert/Release/MoConvert.exe
/VSProject/MoConvert/Release/MoConvert.exe.metagen
/VSProject/MoConvert/Release/MoConvert.pdb
/VSProject/MoConvert/Release/Thumbs.db
/VSProject/MoConvert/ipch/moconvert-5c9799b9/moconvert-89c0a509.ipch
/VSProject/MoConvert/ipch/moconvert-5c9799b9/moconvert-c1fda783.ipch
/VSProject
/BUILD
/MeshV2.hpp
/ModelV2.cpp
/ModelV2.hpp
/MorglodsRender.depend
/MorglodsRender.layout
/build
/MRv2.layout
/MRv2.depend
/CppCheckResults.xml
/MorglodsRender.cscope_file_list
/code
/build_obj
